body {
	background: #F0F0F0;
	color: #555;
	font-family: "Gill sans", sans-serif;
}
#graph {
	position : absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width : 95%;
	min-height : 95%;
	z-index: 0;
}

.overlay {
	position: absolute;
	top: 30%;
	width: 30em;
	text-align: center;
	padding: 1em;
	display:none;
	z-index: 10;
	
	border: 3px solid;
	border-radius: 3px;
	background: #EEEE;
}

.overlay * {
	border: 0px;
}

.overlay h1 {
  margin: 1em 0;
  border-bottom: 1px dashed;
  padding-bottom: 1em;
/*   font-weight: lighter; */
}

#outdated {
	top:60%;
}

.info {
	border-color: #006767;
}

.info svg path {
	fill: #006767;
}

.warning {
	border-color: #670000;
}

.warning svg path {
	fill: #670000;
}

.testing {
	display: none;
	top: 0; 
/* 	position: absolute; */
}
